footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: max(14px, auto);
  padding: 32px 14px;
  color: #fff;
  background: var(--primary);
}

footer .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer .title {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

footer .slogan {
  font-size: 1.2rem;
  font-weight: 400;
}

footer .site-info,
footer .author-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

footer .author-info {
  font-weight: 600;
  font-size: 0.9rem;
  align-items: center;
}

footer .author {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  font-weight: 700;
}

footer .links {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 1.2rem;
}

footer a {
  color: inherit;
  opacity: 0.85;
}

footer a:hover {
  opacity: 1;
}

@media screen and (min-width: 600px) {
  footer .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  footer .site-info {
    text-align: left;
    gap: 6px;
    min-width: 40%;
  }

  footer .author-info {
    text-align: right;
    align-items: flex-end;
  }

  footer .author {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  footer .author,
  footer .links {
    font-size: 1.6rem;
  }
}
